aiofiles
bard
SpeechRecognition
pornhub-api
aiohttp
asyncio
beautifulsoup4
daxxhub
deepai
python-whois
dnspython
ffmpeg-python==0.2.0
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor 
numpy
pillow
psutil
wget
pyfiglet
qrcode
pytz
future
search_engine_parser
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram==2.0.106
python-dotenv
pyyaml
requests
emojis
speedtest-cli
spotipy
tgcrypto==1.2.5
telegraph
unidecode
#yt-dlp
git+https://github.com/hostdam/yt-dlp.git
youtube-search==2.1.2
youtube-search-python==1.6.6
gtts
SafoneAPI
lexica-api==1.5.4
httpx==0.25.2
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot==20.7
img2pdf
cloudscraper
pycryptodome
opencv-python
SafoneAPI
